li {
    list-style-type: none;
    font-size: large;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tasks{
    margin: 1%;
    border: solid black;
    padding: 5%;
    border-radius: 25px;
    text-align: center;
}


h1, h2, form {
    text-align: center;
}

.form-input{
    margin: 1%;
}

input, textarea, #form-button{
    width: 20%; 
}

#form-button{
    border-radius: 25px;
}

button:hover{
    background-color: blue
}

#title-input{
    text-align: center;
}
